@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("src/assets/image.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.header .container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.header .container header{
    padding: 30px;
}

.header .container header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}