section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

}

.home .circle-one {
    position: absolute;
    background: var(--primary);
    height: 30vw;
    width: 30vw;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    bottom: 10rem;
    right: 0;
    z-index: -1;
}

.home .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home .home-content h3:nth-child(2) {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.home .home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
}