* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #000000; 
}

/* _______________ the header section _______________ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.navbar a {
    display: inline;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin: 35px;
    transition: .3s;
}

/* _______________ media queries _______________ */
@media only screen and (max-width: 767px) {
    /* Styles for mobile devices (e.g., smartphones) */
    .header {
        padding: 10px 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */
    .header {
        padding: 15px 7.5%;
    }
}


@media only screen and (min-width: 1024px) {
    /* Styles for laptops and desktops */
    .header {
        padding: 20px 10%;
    }
}

